.entry-content code{
    white-space: pre;
}

pre{
    counter-reset: rowNumber;
}

pre span.row-number{
    counter-increment: rowNumber;
}

pre span.row-number::before {
    content:counter(rowNumber);
    width: 2rem;
    display: inline-block;
    color: #aaa;
}

pre[data-file]{
    border-top: none;
}

.hljs-wrap{
    position: relative;
}

.hljs-wrap:has(span.data-file){
    margin-top: 60px;
}

.hljs-wrap > span.data-file{
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN","Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
    position: absolute;
    transform: translateY(-100%);
    color: #1F3050;
    display: inline-block;
    padding-left: 1.0rem;
    padding-right: 1.0rem;
    padding-top: 0.05rem;
    background-color:#F3F6FB;
    border-top: 2px solid #8B008B;
    border-left: solid 1px #eaedf2;
    border-right: solid 1px #eaedf2;
}

.hljs-copy-btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 3px 10px;
    color: #eee;
    background-color: #556A94;
    cursor: pointer;
    transition: color .3s;
  }
  .hljs-copy-btn:hover {
    background-color: #1F3050;
  }

